/******************************************************************
Site Name:
Author:

Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/

@import "mixins";

body.login {
  background: lighten($commons-grey, 40%);
  font-family: $sans-serif-alt;
}


#login {} /* the form box */

/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/
.login h1 a {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 175px;
  height: 120px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/logo.jpg) no-repeat top center;
}

.login form {
  margin-left: 8px;
  padding: 26px 24px;
  font-weight: normal;
  background: white;
  border: 1px solid #E5E5E5;
  border-radius: 0px;
  box-shadow: none;

  .input {
    border: 1px solid #ccc;
    background: #fafafa;
    border-radius: 0;
    color: #888;
    font: inherit;
    font-size: 100%;
    padding: 6px;
  }
}

a.blue-button,
.blue-button {
  display: inline-block;
  margin-right: 5px;
  background: #76BBE4;
  border: none;
  color: $white;
  @extend %font-size-small;
  line-height: 1em;
  text-decoration: none;
  font-weight: normal;
  padding: 0.35em 0.6em;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  &:hover {
    background: #5a90b1;
    border: none;
    color: $white;
  }
  &.btn-medium {
    font-size: 16px;
  }
  &.btn-large {
    font-size: 20px;
  }
}

.login #backtoblog a, .login #nav a {
  color: $white;
}

/*
You'll have to override some of the default styles
but since we're referencing the id, it should be easy.
*/
#wp-submit {
  @extend .blue-button;
} /* login button*/

